<section class="container m-5">
  <div class="col-12 w-75">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2> My Simple Todo</h2>
        </div>
        <div class="table-responsive">

          <form (ngSubmit)="newTodo(todoForm)" class="form-inline" #todoForm="ngForm">
            <div class="row">
              <div class="col">
                <input type="text" name="title" ngModel class="form-control"
                       placeholder="Enter Title">
              </div>
              <div class="col">
                <input type="text" name="description" ngModel class="form-control"
                       placeholder="Enter Description">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>

          <table class="mt-3 table table-striped table-responsive-md">
            <tr>
              <th>SN</th>
              <th>Title</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let task of tasks; let i = index">
              <td>{{i + 1}}</td>
              <td>{{task.title}}</td>
              <td>{{task.description}}</td>
              <td>
                <button (click)="deleteTodo(task.id)" class="btn btn-sm btn-danger">Delete</button>
              </td>
            </tr>
            <tr *ngIf="tasks.length === 0">
              <td class="text-center" colspan="4"> No Record</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
